<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Bank</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- AnimateCss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Local CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/accounts.css">

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        <header class="d-flex justify-content-evenly">
            <a href="./accounts.html"><img src="./img/logo-bank.png" class="" alt=""></a>
            <h1>JD Banking</h1>
            <div class="burguer-menu-wrap">
                <div class="burguer-menu" @click="isMenu = !isMenu">
                    <span class="line1" :class="isMenu ? '': 'left-forty-five'"></span>
                    <span class="line2" :class="isMenu ? '': 'right-forty-five'"></span>
                    <span class="line3" :class="isMenu ? '': 'hidden'"></span>
                </div>
                <div class="burguer-menu-tooltip" :class="isMenu ? '':'hidden'">
                    <span>
                        <a href="./accounts.html">Home</a>
                    </span>
                    <span>
                        <a href="./accounts.html">Accounts</a>
                    </span>
                    <span>
                        <a href="./cards.html">Cards</a>
                    </span>
                    <span>
                        <a href="./transfer.html">Transfers</a>
                    </span>
                    <span>
                        <a href="#" @click="logout">LogOut</a>
                    </span>
                </div>
            </div>
            <div class="menu d-flex justify-content-between align-self-center">
                <a href="./accounts.html">Home</a>
                <a href="./accounts.html">Accounts</a>
                <a href="./cards.html">Cards</a>
                <a href="./transfer.html">Transfers</a>
                <a href="#" @click="logout">LogOut</a>
            </div>
        </header>
        <main>
            <div class="bg-cover">
                <div class="welcome">
                    <h2>Welcome back, {{client.firstName}} !!</h2>
                </div>
                <!-- Accounts -->
                <section id="accounts">
                    <h2>Manage your Accounts:</h2>
                    <div class="accountCards">
                        <div v-for="account in arraySorted(client.accounts)"
                            class="card animate__animated animate__zoomInDown">
                            <div class="cardContent">
                                <div class="bg-hexagono">
                                    <div class="clientInfo">
                                        <h4>{{accountType(account.type)}}:</h4>
                                        <h2><strong>{{account.number}}</strong></h2>
                                    </div>
                                </div>
                                <div class="accountInfo">
                                    <h4>Balance:</h4>
                                    <h2>{{formatBalance(account.balance)}}</h2>
                                </div>
                            </div>
                            <div class="details">
                                <div class="center">
                                    <div class="accountOps">
                                        <h5><strong>Operations</strong></h5>
                                        <div class="opsAccess">
                                            <a href="./cards.html"><i class="fas fa-credit-card"></i> Cards</a>
                                            <span @click="toTransferSection(account.number)"><i
                                                    class="fas fa-envelope-open-dollar"></i>
                                                Transfers</span>
                                            <span @click="isLoansModal = true, loanAccount = account.number"><i
                                                    class="fas fa-hand-holding-usd"></i> Loans</span>
                                            <span @click="toTransactionSection(account.number)"><i
                                                    class="fas fa-exchange-alt"></i>
                                                Transactions</span>
                                        </div>
                                    </div>
                                    <div class="accountInfo">
                                        <h5><strong>Account Info</strong></h5>
                                        <ul>
                                            <li>Owner: {{client.firstName + " " + client.lastName}}</li>
                                            <li>Mail: {{client.email}}</li>
                                            <li>Created: {{formatDate(account.creationDate)}}</li>
                                        </ul>
                                        <button class="btn btn-danger" @click="deleteAccount(account)">Delete
                                            Account</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="accountsLength < 3" class="card animate__animated animate__zoomIn">
                            <div class="cardContent">
                                <div class="bg-hexagono">
                                    <div class="clientInfo">
                                        <h2><strong>Create New Account</strong></h2>
                                        <label for="accType">Account Type</label>
                                        <select name="accType" id="accType" v-model="accType">
                                            <option value="" selected disabled>Select</option>
                                            <option value="AHORRO">Savings Account</option>
                                            <option value="CTACTE">Checking Account</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="addAccount" @click="createAccount">
                                    <span>&plus;</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- Loans Table -->
                <section id="loans">
                    <h2>Review your Loans:</h2>
                    <div class="containerLoans">
                        <ul class="responsive-table">
                            <li class="table-header animate__animated animate__zoomInUp">
                                <div class="col col-1">Loan Type</div>
                                <div class="col col-2">Account</div>
                                <div class="col col-3">Amount</div>
                                <div class="col col-4">Payments</div>
                            </li>
                            <li class="table-row animate__animated animate__zoomInUp" @click="isLoansModal = true">
                                <div class="col col-5 " data-label="New Loan"><strong>Get
                                        your pre-aproved Loan
                                        Here</strong>
                                </div>

                            </li>
                            <li v-if="client.loans != ''" v-for="loan in arraySorted(client.loans)"
                                class="table-row animate__animated animate__zoomInUp">
                                <div class="col col-1" data-label="Loan Type">{{loan.loanName}}</div>
                                <div class="col col-2" data-label="Account">{{loan.account}}</div>
                                <div class="col col-3" data-label="Amount">{{formatBalance(loan.amount)}}</div>
                                <div class="col col-4" data-label="Payments">{{loan.payments}}</div>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- Modal Loan Aplication -->
                <div v-show="isLoansModal" class="loansModal">
                    <div class="row d-flex justify-content-evenly animate__animated animate__zoomIn">
                        <div class="modalContent">
                            <form action="" @submit.prevent="aplication" @reset.prevent="resetForm"
                                class="d-flex flex-column gap-3">
                                <h4>Select your Loan:</h4>
                                <div class="loansData d-flex flex-column my-2 mx-2 gap-2">
                                    <div class="loanName">
                                        <label for="loanName">Loan type: </label>
                                        <select name="loanName" id="loanName" v-model="loanName" required>
                                            <option value="" selected disabled>Loan</option>
                                            <option v-for="l in loans" :value="l.name">{{l.name}}</option>
                                        </select>
                                    </div>
                                    <div class="loanAccount">
                                        <label for="loanAccount">Account: </label>
                                        <select name="loanAccount" id="loanAccount" v-model="loanAccount" required>
                                            <option value="" selected disabled>Cuenta</option>
                                            <option v-for="a in accounts" :value="a.number">{{a.number}}</option>
                                        </select>
                                        <h5>Current balance: {{formatBalance(currentBalance())}}</h5>
                                    </div>
                                    <div class="loanAmount">
                                        <label for="loanAmount">Loan Amount: </label>
                                        <input type="number" min="1000" :max="maxRange()" v-model="loanAmount" required>
                                        <h5>Max available: {{formatBalance(maxRange())}}</h5>
                                    </div>
                                    <div class="loanPayment">
                                        <label for="loanPayment">Payments: </label>
                                        <select name="loanPayment" id="loanPayment" v-model="loanPayment" required>
                                            <option value="" selected disabled>Select</option>
                                            <option v-for="p in paymentsByLoan()" :value="p">{{p}}</option>
                                        </select>
                                        <h5>{{loanFees()}} </h5>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between mb-0">
                                    <button type="reset" class="btn btn-danger"
                                        @click="isLoansModal = false">Cancel</button>
                                    <button type="submit" class="btn btn-success"
                                        :disabled="aplicationConfirm()">Accept</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal Delete Card -->
                <div v-show="isDeleteAcc" class="loansModal">
                    <div class="row d-flex justify-content-evenly animate__animated animate__zoomIn">
                        <div class="modalContent">
                            <div class="d-flex flex-column deleteAccount">
                                <h4>Deleting Account</h4>
                                <div class="text-center">
                                    <p>Your Account balance must be $0.00</p>
                                    <p>Your Account current balance is: {{formatBalance(deletingAccount.balance)}}</p>
                                    <p>¿Do you want to transfer the remaining balance to another account?</p>
                                </div>
                                <div class="d-flex flex-row justify-content-between mx-5">
                                    <button class="btn btn-danger"
                                        @click="isDeleteAcc = false, deletingAccount = ''">Cancel</button>
                                    <button class="btn btn-success" @click="toDeleteTransfer">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="siteMap rsAccess">
                <ul>
                    <li><a href="#accounts">Accounts</a></li>
                    <li><a href="cards.html">Cards</a></li>
                    <li><a href="transfer.html">Transfers</a></li>
                    <li><a href="#" @click="logout">Logout</a></li>
                </ul>
                <ul>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i>
                            Facebook</a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i>
                            Instagram</a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i>
                            Twitter</a></li>
                </ul>
            </div>
            <div class="copy">
                <ul>
                    <li>&copy; Pablo Herrera 2021</li>
                    <li><a href="mailto:paaherre@gmail.com">paaherre@gmail.com</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Local JS -->
    <script src="./js/accounts.js"></script>

    <!-- Mount APP -->
    <script>
        app.mount('#app')
    </script>

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>