<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Bank</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- AnimateCss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Local CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/admin.css">

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        <header class="d-flex justify-content-evenly">
            <a href="./accounts.html"><img src="./img/logo-bank.png" class="" alt=""></a>
            <h1>JD Banking</h1>
            <div class="burguer-menu-wrap">
                <div class="burguer-menu" @click="isMenu = !isMenu">
                    <span class="line1" :class="isMenu ? '': 'left-forty-five'"></span>
                    <span class="line2" :class="isMenu ? '': 'right-forty-five'"></span>
                    <span class="line3" :class="isMenu ? '': 'hidden'"></span>
                </div>
                <div class="burguer-menu-tooltip" :class="isMenu ? '':'hidden'">
                    <span>
                        <a href="#" @click="logout">LogOut</a>
                    </span>
                </div>
            </div>
            <div class="menu d-flex justify-content-between align-self-center">
                <a href="#" @click="logout">LogOut</a>
            </div>
        </header>
        <main>
            <div class="bg-cover">
                <h2>¡ Welcome admin !</h2>
                <section id="newLoan" class="newLoan d-flex flex-column">
                    <h2>New Loan: </h2>
                    <form action="" class="animate__animated animate__zoomIn" @submit.prevent="newLoan">
                        <div class="d-flex flex-row justify-content-center">
                            <div class="d-flex flex-column mt-4 mx-2 labelColumn">
                                <label class="my-1" for="loanName">Loan Name: </label>
                                <label class="my-1" for="maxAmount">Max Amount: </label>
                                <label class="my-1" for="payments">Add Paymentys: </label>
                                <label class="my-1" for="payments">Select to add: </label>
                                <label class="my-1" for="paymentList">Payments Selected: </label>
                                <label class="my-1" for="interest">Interest: </label>
                            </div>
                            <div class="d-flex flex-column mt-4 mx-2 inputColumn">
                                <input class="my-1" type="text" name="loanName" placeholder="Loan Name"
                                    v-model="loanName">
                                <input class="my-1" type="number" name="maxAmount" placeholder="Max Amount"
                                    v-model="maxAmount">
                                <div class="my-1">
                                    <input type="number" name="payments" placeholder="Payments" v-model="payment">
                                    <div>
                                        <button class="btn btn-warning" @click.prevent="payments = []">Clear</button>
                                        <button class="btn btn-primary" @click.prevent="addPayment">Add</button>
                                    </div>
                                </div>
                                <div class="inputPayments" v-if="payments.length >  0" v-for="p in paymentsSorted">
                                    {{p}} -
                                </div>
                                <div v-else class="my-1">Add Payments</div>
                                <input class="my-1" type="number" name="interest" placeholder="Set Interest"
                                    v-model="interest">
                            </div>

                        </div>
                        <div class="d-flex justify-content-between p-3">
                            <button class="btn btn-danger" type="reset" id="reset" @click="reset">Cancelar</button>
                            <button class="btn btn-success" type="submit">
                                Confirmar
                            </button>
                        </div>
                    </form>
                </section>
            </div>
        </main>
        <footer>
            <div class="siteMap rsAccess">
                <ul>
                    <li><a href="#accounts">Accounts</a></li>
                    <li><a href="cards.html">Cards</a></li>
                    <li><a href="transfer.html">Transfers</a></li>
                    <li><a href="#" @click="logout">Logout</a></li>
                </ul>
                <ul>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i>
                            Facebook</a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i>
                            Instagram</a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i>
                            Twitter</a></li>
                </ul>
            </div>
            <div class="copy">
                <ul>
                    <li>&copy; Pablo Herrera 2021</li>
                    <li><a href="mailto:paaherre@gmail.com">paaherre@gmail.com</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Local JS -->
    <script src="./js/admin.js"></script>

    <!-- Mount APP -->
    <script>
        app.mount('#app')
    </script>

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>