<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Bank</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- AnimateCss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Local CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/cards.css">

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        <header class="d-flex justify-content-evenly">
            <a href="./accounts.html"><img src="./img/logo-bank.png" class="" alt=""></a>
            <h1>JD Banking</h1>
            <div class="burguer-menu-wrap">
                <div class="burguer-menu" @click="isMenu = !isMenu">
                    <span class="line1" :class="isMenu ? '': 'left-forty-five'"></span>
                    <span class="line2" :class="isMenu ? '': 'right-forty-five'"></span>
                    <span class="line3" :class="isMenu ? '': 'hidden'"></span>
                </div>
                <div class="burguer-menu-tooltip" :class="isMenu ? '':'hidden'">
                    <span>
                        <a href="./accounts.html">Home</a>
                    </span>
                    <span>
                        <a href="./accounts.html">Accounts</a>
                    </span>
                    <span>
                        <a href="./cards.html">Cards</a>
                    </span>
                    <span>
                        <a href="./transfer.html">Transfers</a>
                    </span>
                    <span>
                        <a href="#" @click="logout">LogOut</a>
                    </span>
                </div>
            </div>
            <div class="menu d-flex justify-content-between align-self-center">
                <a href="./accounts.html">Home</a>
                <a href="./accounts.html">Accounts</a>
                <a href="./cards.html">Cards</a>
                <a href="./transfer.html">Transfers</a>
                <a href="#" @click="logout">LogOut</a>
            </div>
        </header>
        <main>
            <div class="bg-cover">
                <div class="cards">
                    <div class="debitCard">
                        <h2>Debit Cards:</h2>
                        <cards-carousel :type="'debito'" :cards="cardsByType('DEBITO')" @delete-card="deleteCard"
                            @new-card="newCardModal"></cards-carousel>
                    </div>
                </div>
                <div class="cards">
                    <div class="creditCard">
                        <h2>Credit Cards:</h2>
                        <cards-carousel :type="'credito'" :cards="cardsByType('CREDITO')" @delete-card="deleteCard"
                            @new-card="newCardModal"></cards-carousel>
                    </div>
                </div>
            </div>
        </main>
        <!-- DeleteCardModal -->
        <div v-show="isDeleteCardModal" class="newCardModal">
            <div class="row d-flex justify-content-evenly animate__animated animate__zoomIn">
                <div class="modalContent">
                    <div class="mt-5">
                        <h4>Delete Card:</h4>
                        <div class="modalText">
                            <p>Are you sure ?</p>
                            <p>Card Number: {{deleteCardNumber}}</p>
                            <p>This operation cannot be reverted.</p>
                        </div>
                        <div class="d-flex my-2 justify-content-between">
                            <button class="btn btn-danger"
                                @click="isDeleteCardModal=false, deleteCardCancel">Cancel</button>
                            <button class="btn btn-success" @click="deleteCardConfirm">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal New Card -->
        <div v-show="isNewCardModal" class="newCardModal">
            <div class="row d-flex justify-content-evenly animate__animated animate__zoomIn">
                <div class="modalContent">
                    <div class="mt-5">
                        <h4>New Card:</h4>
                        <form @submit.prevent="createCard" class="d-flex flex-column">
                            <label for="cardType">Card Type: </label>
                            <select v-model="cardType" id="cardType" class="form-select" required>
                                <option value="" selected disabled>Select</option>
                                <option value="credito">Credit</option>
                                <option value="debito">Debit</option>
                            </select>
                            <label for="cardColor">Card Color: </label>
                            <select v-model="cardColor" id="cardColor" class="form-select" required>
                                <option value="" selected disabled>Select</option>
                                <option value="silver">Silver</option>
                                <option value="gold">Gold</option>
                                <option value="titanium">Titanium</option>
                            </select>
                            <div class="d-flex justify-content-between mt-3">
                                <button type="reset" class="btn btn-danger"
                                    @click="isNewCardModal = false, cardType = '', cardColor=''">Cancel</button>
                                <button type="submit" id="submitCard" class="btn btn-success">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="siteMap rsAccess">
                <ul>
                    <li><a href="#accounts">Accounts</a></li>
                    <li><a href="cards.html">Cards</a></li>
                    <li><a href="transfer.html">Transfers</a></li>
                    <li><a href="#" @click="logout">Logout</a></li>
                </ul>
                <ul>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i>
                            Facebook</a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i>
                            Instagram</a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i>
                            Twitter</a></li>
                </ul>
            </div>
            <div class="copy">
                <ul>
                    <li>&copy; Pablo Herrera 2021</li>
                    <li><a href="mailto:paaherre@gmail.com">paaherre@gmail.com</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Local JS -->
    <script src="./js/cards.js"></script>

    <!-- Components -->
    <script src="./js/components/carouselCards.js"></script>

    <!-- Mount APP -->
    <script>
        app.mount('#app')
    </script>

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>