<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Bank</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Local CSS -->
    <link rel="stylesheet" href="./css/index.css">

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        <div class="mainContent">
            <div class="titleLogin">
                <h1>JD - HomeBanking</h1>
            </div>
            <div class="login">
                <div class="veen">
                    <div class="login-btn splits">
                        <img src="./img/logo-bank.png" alt="logo">
                        <p>Already an user?</p>
                        <button :class="isUser ? '' : 'active'" @click="isUser = !isUser">Login</button>
                    </div>
                    <div class="rgstr-btn splits">
                        <img src="./img/logo-bank.png" alt="logo">
                        <p>Join us!</p>
                        <button :class="isUser ? 'active' : ''" @click="isUser = !isUser">Register</button>
                    </div>
                    <div class="wrapper" :class="isUser ? '' : 'move'">
                        <form id="login" tabindex="500" @submit.prevent="login">
                            <h4>Welcome back!</h4>
                            <h3>Login</h3>
                            <div class="mail">
                                <input v-model="email" type="email" class="form-control" required>
                                <label>Email address</label>
                            </div>
                            <div class="passwd">
                                <input v-model="password" type="password" class="form-control" required>
                                <label>Password</label>
                            </div>
                            <div class="submit">
                                <button class="dark">Login</button>
                            </div>
                        </form>
                        <form id="register" tabindex="502" @submit.prevent="register">
                            <h4>Join us!</h4>
                            <h3>Register</h3>
                            <div class="name">
                                <input v-model="postFname" type="text" class="form-control" required>
                                <label>First Name:</label>
                            </div>
                            <div class="lname">
                                <input v-model="postLname" type="text" name="lname" class="form-control" required>
                                <label>Last Name:</label>
                            </div>
                            <div class="mail">
                                <input v-model="postEmail" type="mail" name="email" class="form-control" required>
                                <label>Email:</label>
                            </div>
                            <div class="passwd">
                                <input v-model="postPassword" type="password" name="password" class="form-control"
                                    required>
                                <label>Password:</label>
                            </div>
                            <div class="submit">
                                <button class="dark">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <style type="text/css">
            .site-link {
                padding: 5px 15px;
                position: fixed;
                z-index: 99999;
                background: #fff;
                box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
                right: 30px;
                bottom: 30px;
                border-radius: 10px;
            }

            .site-link img {
                width: 30px;
                height: 30px;
            }
        </style> -->

    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Local JS -->
    <script src="./js/index.js"></script>

    <!-- Mount APP -->
    <script>
        app.mount('#app')
    </script>

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>