<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Bank</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Local CSS -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        <header class="d-flex justify-content-between">
            <img src="./img/logo-bank.png" class="mx-5" alt="">
            <h1>JD HomeBanking</h1>
            <div class="mx-5 align-self-center">
                <a href="./index.html">Home</a>
                <a href="./accounts.html">Accounts</a>
                <a href="./cards.html">Cards</a>
            </div>
        </header>

        <div v-if="isUser" class="login d-flex flex-column text-center">
            <h2>Ingrese su Cuenta:</h2>
            <form class="form-floating mb-3" @submit.prevent="login">
                <div class="form-floating mb-3">
                    <input v-model="email" type="email" class="form-control" id="floatingInput"
                        placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input v-model="password" type="password" class="form-control" id="floatingPassword"
                        placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-info mx-5" @click="isUser = !isUser">Registrarse</button>
                <button type="submit" id="submit" class="btn btn-success">Ingresar</button>
            </form>
        </div>
        <div v-if="!isUser" class="dataPost">
            <h2>Alta de Clientes</h2>
            <form class="Prueba" action="" @submit.prevent="dataPost">
                <div class="form-floating mb-3">
                    <input v-model="postFname" type="text" class="form-control" id="floatingFname"
                        placeholder="name@example.com" required>
                    <label for="floatingFname">First Name:</label>
                </div>
                <div class="form-floating mb-3">
                    <input v-model="postLname" type="text" name="lname" class="form-control" id="floatingLname"
                        placeholder="name@example.com" required>
                    <label for="floatingLname">Last Name:</label>
                </div>
                <div class="form-floating mb-3">
                    <input v-model="postEmail" type="mail" name="email" class="form-control" id="floatingMail"
                        placeholder="name@example.com" required>
                    <label for="floatingMail">Email:</label>
                </div>
                <div class="form-floating mb-3">
                    <input v-model="postPassword" type="password" name="password" class="form-control"
                        id="floatingPostPassword" placeholder="name@example.com" required>
                    <label for="floatingPostPassword">Conteseña:</label>
                </div>
                <button type="submit" id="submitPost" class="btn btn-success mx-5">Confirmar
                    Datos</button>
                <button class="btn btn-info mx-5" @click="isUser = !isUser">Login</button>
            </form>
        </div>

    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Local JS -->
    <script src="./js/index.js"></script>

    <!-- Mount APP -->
    <script>
        app.mount('#app')
    </script>

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>