<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Bank</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Local CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/cards.css">

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        <header class="d-flex justify-content-between">
            <img src="./img/logo-bank.png" class="mx-5" alt="">
            <h1>JD HomeBanking</h1>
            <div class="mx-5 align-self-center">
                <a href="./index.html">Home</a>
                <a href="./accounts.html">Accounts</a>
                <a href="./cards.html">Cards</a>
                <a href="#" @click="logout">LogOut</a>
            </div>
        </header>
        <div>
            <!--
            <form action="" @submit.prevent="validar">
                <div class="d-flex direction-row alig-center">
                    <label for="cuentaOrigena">Cuenta Destino: </label>
                    <select name="" id="cuentaOrigen" v-model="isPropia">
                        <option value="propia">Propia</option>
                        <option value="tercero">De tercero</option>
                    </select>

                    <div v-if="isPropia == 'propia'">
                        <label for="fromPropAcc">Cuenta Origen: </label>
                        <select name="fromPropAcc" id="fromPropAcc" v-model="fromAccount">
                            <option v-for=" a in client.accounts" :value="a.number" :disabled="disabledFromAcc(a)">
                                {{a.number}}
                            </option>
                        </select>
                    </div>
                    <div v-show="fromAccount && isPropia == 'propia'">
                        <label for="toPropAcc">Cuenta Destino: </label>
                        <select name="toPropAcc" id="toPropAcc" v-model="toAccount">
                            <option v-for="ac in client.accounts" :value="ac.number" :disabled="disabledToAcc(ac)">
                                {{ac.number}}
                            </option>
                        </select>
                        <button type="button" id="cancelButton"
                            @click="fromAccount = '', toAccount=''">cancelar</button>
                    </div>
                    <div v-show="isPropia == 'tercero'">
                        <label for="toAccount">Ingrese cuenta Destino: </label>
                        <input type="text" name="toAccount" id="toAccount" maxlength="11" size="12">
                    </div>
                </div>
                <div>
                    <label for="transferAmount">Ingrese Monto: </label>
                    <input type="number" name="transferAmount" id="transferAmount" maxlength="4" size="10">
                </div>
                <br><button type="submit" id="submit">tocame</button>
            </form> -->
            <form action="" @submit.prevent="validar">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column m-5">
                        <label class="my-1" for="reciever">Destinatario: </label>
                        <label class="my-1" for="fromAccount">Cuenta Origen</label>
                        <label class="my-1" for="toAccount">Cuenta Destino</label>
                        <label for="transferAmount">Ingrese Monto: </label>
                    </div>
                    <div class="d-flex flex-column m-5">
                        <select class="my-1" name="reciever" id="reciever" v-model="isOwner">
                            <option value="none" selected>Cuenta Destino</option>
                            <option :value="true">Propia</option>
                            <option :value="false">De tercero</option>
                        </select>
                        <select class="my-1" name="fromAccount" id="fromAccount" v-model="fromAccount">
                            <option v-for="acc in client.accounts" :value="acc.number" :disabled="disabledFromAcc(acc)">
                                {{acc.number}}</option>
                        </select>
                        <select v-show="isOwner == true" class="my-1" name="toAccount" v-model="toAccount">
                            <option v-for="acc in availableAcc()" :value="acc.number" :disabled="disabledToAcc(acc)">
                                {{acc.number}}</option>
                        </select>
                        <div v-show="isOwner == false" class="my-1">
                            <input type="text" name="toAccount" maxlength="4" size="10" v-model="toAccount">
                        </div>
                        <div v-show="isOwner == 'none'" class="my-1">
                            <input type="number" name="transferAmount" maxlength="4" size="10" v-model="transferAmount"
                                placeholder="Seleccione Destinatario" disabled>
                        </div>
                        <div>
                            <input type="number" name="transferAmount" id="transferAmount" maxlength="4" size="10"
                                v-model="transferAmount">
                        </div>
                    </div>
                </div>
                <button type="submit" id="submit">Tocame</button>
            </form>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Local JS -->
    <script src="./js/transfer.js"></script>

    <!-- Mount APP -->
    <script>
        app.mount('#app')
    </script>

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>
</body>

</html>